.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #fffefd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: rgb(7, 6, 6);*/
  animation: blinkingText 2s infinite;
}

.App-food {
  color: #00080a;
  animation: zoom-in-zoom-out 1s ease infinite;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blinkingText{
  0%		{ color: #10c018;}
  25%		{ color: #1056c0;}
  50%		{ color: #ef0a1a;}
  75%		{ color: #254878;}
  100%	{ color: #04a1d5;}
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}